<div class="blog-post card">
  <%= image_tag blog.image, class: "rounded-top", width: '100%', height: '300rem' %>
  <div class="card-body">

    <div class="row blue-links">
      <div class="col-md-12 blog-post-title">
          <strong class="blog-post-title"><%= link_to blog.title.upcase, blog %></strong>
      </div>
    </div>

    
    <div class="blog-body-index">
      <p>
        <%= markdown(ERB.new(blog.body.truncate_words(50, omission: '.. '), nil, '-').result() + " " + (link_to "Continue reading...", blog)) %>
      </p>
    </div>
     

    <p class="blog-post-meta">
      Published <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago
      |
      <i class="fas fa-comments"></i>
      <%= blog.comments.count %>
      |
      <i><%= Topic.find(blog.topic_id).title %> </i>
      <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
    </p>
  </div>
</div>
