<div class="col-md-8 blog-main">

  <% if logged_in?(:site_admin) %>
    <h3 class="pb-3 mb-4 font-italic border-bottom new-blog">
      <%= link_to 'Draft a New Blog', new_blog_path, class: "btn btn-secondary" %>
    </h3>
  <% end %>

  <h2><%= @blog.title %></h2>

  <nav class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
    <%= link_to @blog.title, root_path, class: 'breadcrumb-item active' %>

    <% if logged_in?(:site_admin) %>
    <span class="ml-auto">
      <a href="<%= edit_blog_path(@blog) %>"><i class="fas fa-edit"></i></a>
      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= @blog %>"><i class="fas fa-trash-alt"></i></a>
    </span>
    <% end %>
  </nav>

  <p><%= @blog.topic.title %></p>
  <p><%= markdown(@blog.body) %></p>

  <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-secondary", id: "back-button" if logged_in?(:site_admin) %>
  <%= link_to 'Back', blogs_path, class: "btn btn-secondary", id: "back-button" %>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

</div>
