<div class="container">
	<div class="row">
		<div class="col-md-12">

			<nav class="navbar navbar-expand-sm navbar-light navbar-show">
				<span class="portfolio-title"><%= @portfolio_item.title %></span>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><%= link_to 'View all', portfolios_path, class: 'nav-link' %></li>
					<li class="nav-item"><span><%= link_to "Edit", edit_portfolio_path(@portfolio_item.id), class: 'nav-link' if logged_in?(:site_admin) %></span></li>
					<li class="nav-item"><span><%= link_to 'Delete', portfolio_path(@portfolio_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' if logged_in?(:site_admin) %></span></li>
				</ul>
    	</nav>

		</div>
		<div class="col-md-7">
			<%= image_tag @portfolio_item.main_image %>
		</div>
		<div class="col-md-5">

			<em><%= @portfolio_item.subtitle %></em>

			<p><%= @portfolio_item.body %></p>
			<hr>
			<h3>Technologies Used</h3>
			<% @portfolio_item.technologies.each do |technology| %>
				<p> <%= technology.name %> </p>
			<% end %>


		</div>
	</div>
</div>
