<div id="about-professional" class="col-md-12 pt-5">
    <div class="about-me-statement pl-5 pr-5 pt-4 pb-4">
        <div class="row">

        <div class="col-md-4">
            <%= image_tag "ProfilePic.JPG", class: 'profile-pic' %>
        </div>

        <div class="col-md-5">
            <div class="about-me-header">
            <div id="about-me">About Me</div>
            <div id="professional-buttons" class="buttons">
                <div class="my-btn transition"><%= link_to 'Resume', pages_download_resume_url, class: "" %> <i class="fas fa-download"></i></div>
                <div class="my-btn transition"><%= link_to 'Transcript', pages_download_transcript_url, class: "" %> <i class="fas fa-download"></i></div>
            </div>
            </div>
            <hr id="professional-hr" class="about-me-hr mt-0" align="left" width="100%">
            <p>I recently graduated in May, 2020 from <a href="https://case.edu" target="_blank" id="CWRU-link">Case Western Reserve University</a>, with a B.S. in Computer Science and a concentration in 'Databases and Data Mining'.
            I entered CWRU intending to pursue chemical engineering, but after taking an introductory programming course taught in MATLAB, I was immediatly hooked and changed my major to CS.
            I really enjoy the creative freedom that programming offers, and the unique blend of science and art into a single field of study.
            </p>
            <p>I am currently working at <a href="https://arevonenergy.com/" target="_blank" id=CWRU-link>Arevon</a> as a Software Developer / Database Administrator to help with data driven analysis of solar assets.</p>
            <p>
            Check out some projects I have worked on <%= link_to 'here', portfolios_path, id: "CWRU-link" %>!
            </p>
        </div>

        <div class="col-md-3">
            <% sort_skills(@skills).each do |skill| %>
                <% if skill.category == "professional" %>
                    <div class="skill transition">
                        <h4><%= skill.title %></h4>
                        <div class="progress">
                        <div class="progress-bar progress-bar-animated progress-bar-striped progress-professional <%= skill.id %> bg-custom transition-super-slow" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>

        </div>
    </div>
</div>