<div id="about-personal" class="col-md-12 pt-5">
    <div class="about-me-statement pl-5 pr-5 pt-4 pb-4">
        <div class="row">

        <div class="col-md-5">
            <div class="personal-images">
                <%= image_tag "IMG_3205.jpeg", class: 'profile-pic img-visible first-img' %>
                <%= image_tag "IMG_3632.jpeg", class: 'profile-pic img-hidden' %>
                <%= image_tag "IMG_3481.jpeg", class: 'profile-pic img-hidden' %>
                <%= image_tag "IMG_8446.JPG", class: 'profile-pic img-hidden' %>
                <%= image_tag "IMG_3587.JPG", class: 'profile-pic img-hidden last-img' %>
            </div>
        </div>

        <div class="col-md-4">
            <div class="about-me-header">
            <div id="about-me">About Me</div>
            <div id="personal-buttons" class="buttons">
                <div class="my-btn transition"><%= link_to 'Travel Blog', topic_path(:id => Topic.where(title: "Travel").first.id), class: "" %></div>
            </div>
            </div>
            <hr id="personal-hr" class="about-me-hr mt-0" align="left" width="100%">
            <p>
            I was born and raised in the Bay Area of California, more specifically in Lafayette, CA, by my parents, who are from Arizona and Mexico.
            My chilhood consisted primarily of legos, beans, soccer, lincoln logs, making youtube videos, hiking with my mom, chicken soup, and watching miyazaki films with hot chocolate when it was raining.
            I now attend Case Western Reserve University as a Computer Science major, which I really enjoy.
            After I graduate, I have no plans yet, but I'd like to travel outside of the US and enjoy my freedom while I can.
            <!-- 
            <i class="fas fa-chess"></i>
            <i class="fas fa-camera-retro"></i>
            <i class="fas fa-couch"></i>
            -->
            </p>
        </div>

        <div class="col-md-3">
            <% sort_skills(@skills).each do |skill| %>
                <% if skill.category == "personal" %>
                    <div class="skill transition">
                        <h4><%= skill.title %></h4>
                        <div class="progress">
                        <div class="progress-bar progress-bar-animated progress-bar-striped progress-personal <%= skill.id %> bg-custom transition-super-slow" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>

        </div>
    </div>
</div>

<script>
    function change_img(fade_time){
        var displayed = $( ".img-visible");
        if (displayed == null) {
            displayed = $(".first-img");
        }
        if ($(displayed).hasClass("last-img")) {
            var next_displayed = $(".first-img");
        }
        else {
            var next_displayed = $(displayed).next();
        }
        $(displayed).css("opacity", 0);
        $(displayed).removeClass("img-visible");
        $(next_displayed).css("opacity", 1);
        $(next_displayed).removeClass("img-hidden").addClass("img-visible");
    }

    //timerRef = window.setInterval(function(){
        /// call your function here
    //      random_no();
    //}, 3000);
    $(document).ready(function(){
        var timerRef;
        clearInterval(timerRef);
        timerRef = window.setInterval(function(){
            change_img(1000);
        },4000)
    })
</script>