<div class="row">
  <div class="col-md-12">
      <div class="jumbotron jumbo-about">
        <h2>What I&apos;m up to right now</h2>
        <p>Continuing to develop and improve on this portfolio website</p>
        <hr class="about-me-hr-jumbo" align="left" width="70px">
        <p>Building photography portfolio</p>
        <hr class="about-me-hr-jumbo" align="left" width="70px">
      </div>
  </div>
</div>
<div class="inner cover cover-about about-me-container">
  <div class="row">
    <div class="col-md-4 profile-pic-bgd">
      <%= image_tag "ProfilePic.JPG", class: 'profile-pic' %>
    </div>
    <div class="col-md-8">
      <div class="about-me-statement">
        <div class="row">
          <div class="col-md-7">
            <h1 id="">About Me</h1>
            <hr class="about-me-hr" align="left" width="25%">
            <p>I am currently a third year Computer Science major at
              <a href="https://case.edu" id="CWRU-link">Case Western Reserve University</a>.
              
            </p>
            <div class="buttons">
              <%= link_to 'Resume', pages_download_resume_url, class: "btn doc-button doc-button-left" %>
              <%= link_to 'Transcript', pages_download_transcript_url, class: "btn doc-button" %>
            </div>
          </div>
          <div class="col-md-5">
            <% @skills.each do |skill| %>
              <div class="skill">
                <h4><%= skill.title %></h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-animated progress-bar-striped bg-custom" role="progressbar" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width: <%= skill.percent_utilized %>%"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row hobbies">
  <div class="col-md-12">
    <h1>Hobbies</h1>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        Snowboarding
      </div>
      <div class="col-md-6">
        img here
      </div>
      <div class="col-md-6">
        img here
      </div>
      <div class="col-md-6">
        Photography
      </div>
    </div>
  </div>
</div> -->
