<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <%= image_tag "1.jpg", id: 'background', alt: "Profile Image" %>

    <!--<%= video_tag(
      #'722779149.mp4', #coding
      '796795087.mp4', #electricity
      #'HardDrivePhotojpeg.mp4',
      muted: true,
      id: 'background',
      autoplay: true,
      loop: true,
      poster: '1.jpg'
    )
    %>-->

    <div class="d-flex h-100 p-3 mx-auto flex-column">



        <%= render "shared/application_nav" %>

        <div class="cover-container">

          <%= yield %>

          <%= render "shared/application_footer" %>

          <%= render 'shared/alerts' %>

          <%= source_helper("application") %>

        </div>

    </div>

  </body>
</html>
