<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/other_favicon.ico' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= image_tag "1.jpg", id: 'background', alt: "Profile Image" %>

  <div class="row custom-container">
    <div class="col-md-12">
      <% if source_helper("application") %>
        <%= source_helper('alert alert-dismissible fade show') %>
      <% end %>
      <%= render "shared/application_nav" %>
    </div>
    <div class="col-md-12">
      <%= yield %>
    </div>
    <div class="col-md-12">
      <%= render "shared/application_footer" %>
    </div>
    <%= alerts %>
  </div>

  </body>
</html>
