<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146588921-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146588921-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/other_favicon.ico' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <%= image_tag "binary.jpg", id: 'background' %>

  <div class="row main-row">
    <div class="col-md-12">
      <% if source_helper("application") %>
        <%= source_helper('alert alert-dismissible fade show') %>
      <% end %>
      <%= render "shared/application_nav" %>
    </div>
    <div class="col-md-12 custom-container">
      <%= yield %>
    </div>
    <div class="col-md-12">
      <%= render "shared/application_footer" %>
    </div>
    <%= alerts %>
  </div>

  </body>
</html>
