<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146588921-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146588921-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/other_favicon.ico' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'blogs', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="col-md-12">

        <div class="row">
            <div class="col col-md-4 pr-5 new-sidebar bg-none">
                <%= render 'shared/blog_masthead' %>
              
                <hr class="hr-divider rounded" align="left" width="25%">
    
                <%= render 'shared/blog_sidebar' %>
    
                <hr class="hr-divider rounded" align="left" width="25%">
        
                <%= render 'shared/blog_nav' %>
        
                <hr class="hr-divider rounded" align="left" width="25%">
    
                <%= render 'shared/blog_social_links' %>
            </div>
            <div class="col-md-8">

            </div>
          </div>

          <div class="row bg-stars">

              <div class="col col-md-4 pr-5 new-sidebar">
              </div>
              
              <div class="col-md-8 blogs bg-stars"
                <main role="main" class="container">
                  <div class="row bg-test">
                    <div class="col-md-12">
                        <%= yield %>
                    </div>
                  </div>
                </main>
              </div>
    
              <div class="col col-md-4 pr-5 new-sidebar">
              </div>
    
              <div class="col-md-8">
                  <!-- <%= render 'shared/blog_footer' %> -->
        
                  <%= alerts %>
              </div>
        
          </div>

    </div>

  </body>
</html>
