<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/other_favicon.ico' %>

    <!-- <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <%= stylesheet_link_tag    'portfolios', media: 'all' %> <!-- , 'data-turbolinks-track': 'reload' -->
    <%= javascript_include_tag 'application' %> <!-- , 'data-turbolinks-track': 'reload' -->

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>

    <!-- <%= source_helper("portfolio") %> -->

    <%= render 'portfolio_nav' %>

    <main role="main">

      <%= render 'portfolio_masthead' unless logged_in?(:site_admin) %>

      <%= yield %>

    </main>

    <%= render 'portfolio_footer' %>

    <%= alerts %>

  </body>
</html>
