<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicons/other_favicon.ico' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <%= stylesheet_link_tag    'portfolios' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <!-- <%= source_helper("portfolio") %> -->

    <%= render 'portfolio_nav' %>

    <main role="main">

      <%= render 'portfolio_masthead' unless logged_in?(:site_admin) %>

      <%= yield %>

    </main>

    <%= render 'portfolio_footer' %>

    <%= alerts %>

  </body>
</html>
